// main scheme
$primary-color: #1ba0e2;

// text scheme
$primary-text: #000000;
$secondary-text: #808080;

// button scheme
$primary-button: #fc5c1c;
$secondary-button: #1ba0e2;

// colors
$white: #ffffff;
$black: #000000;


// dark theme
$primary-bg-dark: #181818;