.combo_box {
    width: 100%;
    padding: 0.75rem 0.5rem;
    border: 0;
    outline: 1px solid var(--body_secondary_color);
    border-radius: 0.25rem;
    font-family: MuseoSans;
    font-size: 1rem;
    transition: outline 0.3s ease;
    background-color: transparent;
    color: var(--body_color);
    appearance: none;

    // arrow
    background-image: url("../../assets/svg/drop_arrow.svg");
    background-position: right 0.5rem center;
    background-repeat: no-repeat;
    background-size: 1rem;

    &:focus {
      outline: 1px solid var(--body_primary_color);
    }

    &:active {
      outline: 1px solid var(--body_primary_color);
    }
  }

